<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say Something
</h4>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="messages">
                <div class="ui feed"  id="message-container">
                   
                     <%= render 'messages/message'%>

                </div>
            </div>
            <div class="extra content">
                
                 <%= form_with model: @message , class: "ui reply form" do |f| %>
                    <div class="field">
                        <div class="ui fluid icon input">
                            <%= f.text_field :body  %>
                            <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
                        </div>
                    </div>
                <% end %>
                <!-- ده المودل اللي فوق بياخد ميثود بوست و يروح الروت مساج يبعتوا لاكشن كريدت في كونترولر مساج
                 <form class="ui reply form" action="/messages" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
                
                    <input type="hidden" name="authenticity_token" value="95Cw9WQzvYVHj5laQyD9K8j3eY6I0Yd5rDiO9fnqsaT6FOeOnbdHWJXN3wEhcn5U52ZzPdE/sK5fI4m/xUEwAg==">

                    <div class="field">
                        <div class="ui fluid icon input">
                            <input placeholder="Enter a message..." type="text" name="message[body]" id="message_body">
                                <i class="bordered inverted orange edit icon"></i>
                        </div>
                    </div>
                </form>
                -->
            </div>
        </div>
    </div>


    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui inverted vertical menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>
            </div>
        </div>    
    </div>
</div>