<div class="ui four column centered grid">
  <div class="row">
    <div class="column">
  <% flash.each do |name , msg| %>
    <% if name == "notice" %>
        <div class="ui success message ">
                <i class="close icon"></i>
         <%=msg %>
        </div>
         
    <% else %>
          <div class="ui negative message " >
          <i class="close icon"></i>
          <%=msg %>
          </div>
    <% end %>
     </div> 

  
  <%end %>
</div>    